body {
    background-color: #020e2e;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cf1 {
    background-color: #040913;
    position: fixed;

}

.dropdown-item {
    color: white;
    background-color: #040913;
}

.dropdown-menu {
    background-color: black;
}

.c1 {
    float: left;
    height: 400px;
    width: 300px;
    margin-left: 20px;
    margin-top: 100px;
    border-radius: 20px;
}

.c2 {
    float: left;

    height: 600px;
    width: 800px;
    margin-left: 60px;
    margin-top: 100px;
    border-radius: 20px;
}

ul li {
    color: #e2d3f4;
    list-style-type: none;
    padding: 2px;
}