body {
    background: rgb(23, 23, 47);
}

.t1 {
    color: rgb(215, 209, 209);
    font-weight: bolder;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Barriecito', cursive;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 4vh;
}

.t2 {
    color: #9349c1;
    font-weight: bolder;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Barriecito', cursive;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 5vh;
}

.t3 {
    color: rgb(42, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4vh;
}

.t4 {
    color: rgb(97, 29, 62);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4vh;
}

.t5 {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 4vh;
}

.t6 {
    color: rgb(231, 43, 134);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4vh;
}

.t7 {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
}

.c2 {
    background: rgb(45, 45, 69);
    height: 80px;
    border-radius: 10px;
    /* color:rgb(60, 60, 183);  */
}

.r3 {
    background: rgb(45, 45, 69);
    height: 240px;
}

.r4 {
    background: rgb(45, 45, 69);
}

.sp1 {
    color: whitesmoke;
    font-weight: bolder;
    font-weight: 3vh;
    margin-left: 40px;
}

.sp2 {
    color: whitesmoke;
    font-weight: bolder;
    font-weight: 3vh;
}

.progress-container {
    height: 200px;
    display: flex;
}


/* Animation */
@keyframes fillAnimation {
    from {
        stroke-dasharray: 0 10;
    }

    to {
        stroke-dasharray: 9 100;
    }
}

.circular-progressbar path {
    animation: fillAnimation 5s ease-in-out forwards infinite;
}

.img1 {
    width: 40px;
    height: 40px;
}

.img2 {
    width: 20px;
    height: 20px;
}

.progress {
    margin-top: 10px;
}
.im1{
    width:120px;
    height:100px;
}
.im3{
    height:30px;
    width:30px;
}
.ro1{
    background: rgb(45, 45, 69);
}
.svg1{
    height: 50px;
    width:50px;
}
