/* Lecturecss.css */

.lecture-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  background-color: #f9f9f9;
  min-height: 100vh; /* Ensure it covers the full viewport height */
}

.search-section {
  width: 100%;
  max-width: 600px; /* Limit the width of the search section */
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  gap: 10px; /* Add space between input and button */
}

.search-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.search-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #367c39;
}

.search-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.lecture-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Set a maximum width for the lecture list */
}

.lecture-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.lecture-card:hover {
  transform: translateY(-5px);
}

.lecture-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 15px;
}

.lecture-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  transition: transform 0.3s ease-in-out;
}

.lecture-title {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.lecture-channel {
  font-size: 14px;
  color: #777;
}

.error-message {
  color: #d32f2f;
  margin-top: 10px;
  text-align: center;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #777;
}

.no-results {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.a{
 margin-top: 80px;
}