@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

#logo {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

#logo span {
    background: linear-gradient(to right, #FF3CAC, #784BA0, #2B86C5, #00C9FF, #76FF03, #FF3CAC);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorChange 10s infinite;
}

@keyframes colorChange {

    0%,
    100% {
        background-position: 0%;
    }
    20% {
        background-position: 100%;
    }
    80% {
        background-position: 200%;
    }
}
